# https://git-scm.com/docs/gitignore
# A separator anywhere except the end of the pattern is relative to the folder
# containing the .gitignore (the root). Without it, the pattern may match
# recursively in lower folders. E.g., /* ignores all files at the top level but
# won't ignore files contained in negated folder patterns.

# git status doesn't show untracked subdir files. Use git ls-files -o to see all
# untracked files

# Ignore everything
/*
# Except hidden files/folders
!/.*

# Additionally ignore
/.bash_logout
/.bashrc
/.cache
/.config/coc/
/.lesshst
/.local
/.config/ranger/history
/.config/nvim/plugged/
/.config/hub
/.ctags
/.fonts
/.profile
/.pylint.d/
/.fdignore.save
.netrwhist
